.admin__navigation {
    padding: 20px;
    width: fit-content;
    height: max-content;

    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    color: white;
    background: #221B38;
    border-radius: 0 0 10px 10px;

}

.navigation__list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: max-content;
}

.navigation__list li {
    cursor: pointer;
    float: left;
    margin: 10px 20px 10px;
}

.navigation__list li:hover, a:hover {
    color: #FEC556;
}

.navigation__bottom-settings {
    width: 100%;
    display: block;
    text-align: center;
}

.navigation__bottom-settings > * {
    margin: 0 20px 0;
}

.admin__main {
    margin: 150px 20px 0;
    width: 80%;
    position: absolute;
    top: 3vh;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.section--visible {
    display: block;
}

.section--invisible {
    display: none;
}

.table {
    background: white;
    border: none;
    padding: 0;
    border-spacing: 0;
    border-radius: 5px;
}

.table th {
    background: #36304a;
    color: white;
    border: none;
    margin: 0;
    padding: 10px;
}

.table__row:first-child {
    border-radius: 5px;
}

.table__col {
    padding: 10px;
    text-align: center;
}

.table__row:nth-child(odd) {

}
