.login__form {
    background: white;
    height: 60%;
    width: clamp(250px, 25vw, 100%);
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.login__form .form__input, .login__form .form__button {
    display: block;
    margin: 20px auto;
}

.form__input {
    position: relative;
    width: 90%;
    border-radius: 2px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: .8rem;
}

.form__button {
    outline: none;
    border: 1px solid #D8C2F4;
    border-radius: 10px;
    background: rgb(234, 229, 178);
    padding: 8px;
    width: fit-content;
}

.login__form .form__bottom-section {
    font-size: .8rem;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
}

.form__error-container {
    width: 100%;
    color: red;
    font-size: .8rem;
}

.error {
    color: red;
}

.panel__input {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #a187e1;
    color: #221B38;
    margin: 10px 0 0;
    padding: 10px;
    outline: 2px solid #cec4c4;
    caret-color: #FEC556;
    max-width: 100%;
}

.panel__button {
    border-radius: 10px;
    padding: 5px 20px 5px;
    font-weight: 400;
    border: none;
    outline: none;
    background: #FEC556;
    transition: all 200ms ease;
}

.panel__button:hover {
    opacity: .8;
}

.settings-form-label {
    font-size: 1.4rem;
}

.container__activation-form {
    position: sticky;
}

.input--pin-code {
    padding-left: 15px;
    border: none;
    outline: none;
    color: white;
    font-size: 24px;

    background: transparent linear-gradient(to left, rgb(243, 237, 237) 70%, rgba(255, 255, 255, 0) 0%) bottom repeat-x;
    background-size: 50px 2px;
    background-position-x: 40px;
    letter-spacing: 35px;
    width: 220px;
    min-width: 320px;
}

.input--pin-code-transparent {
    display: inline-block;
    position: absolute;
    height: 40px;
    width: 100px;
}
