.login__form {
    background: white;
    height: 60%;
    width: 300px;
    min-width: 250px;
    max-width: 350px;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.login__form .form__input, .login__form .form__button {
    display: block;
    margin: 20px auto;
}

.form__input {
    position: relative;
    width: 90%;
    border-radius: 2px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: .8rem;
}

.form__button {
    border: 1px solid black;
    border-radius: 10px;
    background: rgb(0,212,255);
    padding: 5px;
    width: 30%;
}

.form__input--password {
    font-size: .5rem;
}

.login__form .form__bottom-section {
    font-size: .6rem;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
}

.form__error-container {
    width: 100%;
    color: red;
    font-size: .8rem;
}

.error-container__error {

}

.panel__input {
    border: none;
    outline: none;
    border-radius: 5px;
    background: #D8C2F4;
    color: #221B38;
    margin: 10px 0 0;
}

.panel__button {
    border-radius: 10px;
    padding: 5px 20px 5px;
    font-weight: 400;
    border: none;
    outline: none;
    background: #FEC556;
    transition: all 200ms ease;
}

.panel__button:hover {
    opacity: .8;
}

.settings-form-label {
    font-size: 1.4rem;
}
