@import url("forms.css");
@import url("admin.css");

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background: #493A76;
    height: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #D8C2F4;
    height: 100%;
    border-radius: 10px;
}

body, head {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /*background: #2D2449;*/
    /*font-family: "Arimo", sans-serif !important;*/
    scrollbar-color: #D8C2F4 #493A76;
}

/*--------------GLOBAL-------------*/
.text-gray-900 {
    color: #3a3b45!important;
}
.btn-primary {
    color: #fff !important;
    background-color: #4e73df !important;
    border-color: #4e73df !important;
}

.admin__panel--section.servers {
    height: 100%;
}

.main__nav {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background: #221B38;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 0 20px 20px 0;
    z-index: 10000;
}

.nav__icon-link {
    display: block;
}

.nav__icon-link:not(:first-child) {
    margin: 24px 0 0;
}

.nav__icon {
    width: 45px;
    height: 45px;
}

.header {
    width: 100%;
    height: 10%;
    padding: 50px 0 0 100px;
    color: white;
}

.header__title {
    font-size: 32px;
}

.header__gaming-console {
    position: absolute;
    right: 50px;
    top: -50px;
    display: none;
}

.main-page-main {
    color: white;
    width: 100%;
    height: fit-content;
    padding: 50px 0 0 120px;
}

.main-page-main p {
    font-size: 28px;
}

.main-page-main__counter {
    font-size: 18px;
    color: #B1A9A9;
    margin: 0 0 0 5px;
}

.last-added-servers {
    width: 60%;
    height: fit-content;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.server__card {
    width: 340px;
    height: fit-content;

    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0 50px 20px 0;
}

.server__card img {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.account-activation-section {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-activation-section__container {
    position: relative;
    top: -10%;
    min-width: 30%;
    width: 400px;
    max-width: 100%;
}

.account-activation-section__container > * {
    margin: 20px 0 0;
}

.create-server-main {
    width: 100%;
    height: 100%;
    padding: 30px 50px 0;
    margin: 0;
    color: white;
}

.create-server-main p {
    margin: 0;
}

.eggs {
    width: 100%;
    height: fit-content;
    padding: 50px 20px 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    gap: 20px;
}

.egg, .package {
    height: 200px;
    width: 200px;
    background: #a086df;
    display: grid;
    justify-items: center;
    padding: 15px;
    position: relative;
    transition: 200ms all linear;
}

.egg__img {
    width: 70%;
}

.server__cost {
    position: fixed;
    right: 50px;
    top: 50px;
}

.payment__methods {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    gap: 10px;
}

.methods__method {
    height: 100px;
    width: 150px;
    background: #a187e1;
    border-radius: 5px;
    text-align: center;
}

.methods__method img {
    height: 95%;
    width: 95%;
}

@media screen and (min-width: 948px) {
    .create-server-main {
        padding: 50px 150px 0;
    }

    .payment__methods {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1378px) {
    .header__gaming-console {
        display: block;
    }

    .payment__methods {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
    }
}
