@import url("forms.css");
@import url("admin.css");

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background: #493A76;
    height: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #D8C2F4;
    height: 100%;
    border-radius: 10px;
}

body, head {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #2D2449;
    font-family: "Arimo", sans-serif;
    scrollbar-color: #D8C2F4 #493A76;
}

.admin__panel--section.servers {
    height: 100%;
}

.main__nav {
    padding: 20px;
    width: fit-content;
    height: fit-content;
    background: #221B38;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 0 20px 20px 0;
}

.nav__icon-link {
    display: block;
}

.nav__icon-link:not(:first-child) {
    margin: 24px 0 0;
}

.nav__icon {
    width: 45px;
    height: 45px;
}

.header {
    width: 100%;
    height: 10%;
    padding: 50px 0 0 100px;
    color: white;
}

.header__title {
    font-size: 32px;
}

.header__gaming-console {
    position: absolute;
    right: 50px;
    top: -50px;
}

.main-page-main {
    color: white;
    width: 100%;
    height: fit-content;
    padding: 50px 0 0 120px;
}

.main-page-main p {
    font-size: 28px;
}

.main-page-main__counter {
    font-size: 14px;
    color: #B1A9A9;
}

.last-added-servers {
    width: 60%;
    height: 450px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.server__card {
    width: 340px;
    height: 420px;

    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    margin: 0 50px 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.account-activation-section {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-activation-section__container {
    position: relative;
    top: -10%;
    min-width: 30%;
    width: 400px;
    max-width: 100%;
}

.account-activation-section__container > * {
    margin: 20px 0 0;
}
